// Here you can add other styles

:root {
  --sticky-height: 80vh;
}

.form-view .form-group {
  border-bottom: 1px solid #dee2e6;
}

.action-columns {
  width: 170px;
  text-align: center;
}

.action-columns.act-2 {
  width: 150px;
}